@model PracticeMvc.Models.SimpleProjectViewModel

<h1>Upload Your Files</h1>

@using(@Html.BeginForm("UploadProject", "Home", FormMethod.Post, new { enctype="multipart/form-data" })){
        @Html.EditorFor(m => m.Name);
        @Html.EditorFor(m => m.Files);
        <button type="submit">Save</button>
}